html {
  scroll-behavior: smooth;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto 30px auto;
  max-width: 1520px;
  color: white;
  background-color: #111111;
}

/*
* ================================ width 1920px - 1685px ================================
*/

/* Text styles __________________________________________________________ */

* {
  font-weight: normal;
}

h1,
h2 {
  font-family: "Bebas Neue", cursive;
}

h3,
h5 {
  font-family: "Roboto Condensed", sans-serif;
}

h4,
p {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 12rem;
  line-height: 1;
  color: transparent;
  color: #111111;
  -webkit-text-stroke: 0.15rem #ef75ff;
}

h1 span {
  -webkit-text-stroke: 0.15rem #59fff1;
}

h2 {
  font-size: 45px;
  color: #59fff1;
  padding: 0;
}
/* Text style h2 self-description */
.self-description__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #ef75ff;
}

h4 {
  font-size: 1.4rem;
  color: #ef75ff;
  text-transform: uppercase;
}

h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  margin: 50px 0;
  text-align: center;
  color: #111111;
  background: -webkit-linear-gradient(70deg, #59fff1, #ef75ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.3rem transparent;
}
/* emoji without linear gradient */
h5 span {
  background: #111111;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
}

.interests__text--bullets {
  padding-inline-start: 15px;
}
.interests__text--bullets li {
  text-decoration: none;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 300;
}

.header-text__description {
  font-size: 1.5rem;
  font-weight: 400;
}

.self-description__text {
  font-size: 2rem;
  font-weight: 400;
}

.service-description__number {
  font-size: 5rem;
  font-weight: 700;
  margin: 0;
  color: #111111;
  background: -webkit-linear-gradient(-90deg, #59fff1, #ef75ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.3rem transparent;
}
.nowrap-h2 {
  font-family: "Bebas Neue", cursive;
  white-space: nowrap;
}

/* Buttons __________________________________________________________ */

.btn {
  padding: 25px 80px;
  background-color: #ef75ff;
  border: none;
  outline: inherit;
  text-decoration: none;
  border-radius: 5px;
  color: #111111;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover,
.btn:hover {
  background-image: linear-gradient(#59fff1, #ef75ff);
}

button:active,
.btn:active {
  background-image: linear-gradient(#00a396, #b400cc);
  box-shadow: none;
  border: none;
  outline: inherit;
}

button:focus-visible,
.btn:focus-visible {
  box-shadow: 0 0 0 8px #111111, 0 0 0 10px #ef75ff;
}

.btn-contact {
  position: absolute;
  transform: translate(0, -90px);
}

.btn-form {
  position: absolute;
  right: 0;
  margin: 0 200px 0;
}

/* Images __________________________________________________________ */

img {
  width: 100%;
  height: auto;
}

/* Navbar __________________________________________________________ */

.about-menu {
  background-color: transparent;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.logo {
  width: 45px;
  height: 30px;
}

.menu-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
}

.menu-items li {
  text-decoration: none;
  padding: 0 0 0 40px;
}

.menu-items a {
  text-decoration: none;
  color: white;
  border: none;
  outline: inherit;
}

.menu-items a:visited {
  text-decoration: none;
}

.menu-items a:hover {
  color: #59fff1;
}

.menu-items a:focus-visible {
  color: #59fff1;
  text-decoration: underline;
}

.menu-items a:active {
  color: #ef75ff;
}

/* Header __________________________________________________________ */

.header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.header-image {
  margin-left: auto;
  margin-right: 0;
}

/* layout sections __________________________________________________________________ */

.about-section {
  padding-top: 150px;
}

.about-section__items {
  padding-top: 50px;
}

/* layout self-description __________________________________________________________ */

.self-description {
  display: inline-block;
  align-items: left;
  max-width: calc(100% * (1 / 2));
}

/* layouts rainbow-slogans __________________________________________________________ */

.rainbow-slogan {
  align-items: center;
}

/* layouts section services __________________________________________________________ */

.about-section__services {
  padding-bottom: 50px;
}

.service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: calc(100% * (2 / 3));
  position: relative;
  left: calc(100% * (1 / 3));
  margin-top: 100px;
}

.service-image {
  max-height: 600px;
  width: auto;
}

.service-image__container {
  display: flex;
  margin: 0 50px;
  justify-content: center;
}

.service-description__container {
  display: flex;
  justify-content: center;
}

.service-description__subcontainer {
  max-width: 380px;
  height: auto;
}
/* reversing peer services */

.service-image__container--left {
  grid-area: images-pairs;
}

.service-description__container--left {
  grid-area: description-pairs;
}

.service:nth-child(even) {
  position: relative;
  left: 0;
  /*area position*/
  grid-template-areas: "description-pairs images-pairs";
}

/* layout section images__________________________________________________________ */

.about-section__items--images {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
}

/* layouts section 'my approach' & 'how I work'__________________________________________________________ */

.about-section__items--text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(530px, 1fr));
  gap: 70px;
}

.pair-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
}

/* layout contact__________________________________________________________ */

.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title__slogan--contact {
  padding-right: 150px;
}

.form input,
.form textarea {
  display: block;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid #59fff1;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
}

.form textarea {
  height: 120px;
  width: auto;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  border: 3px solid #ef75ff;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a4a4a4;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a4a4a4;
}

/* layout footer__________________________________________________________ */

.about-footer {
  display: flex;
  justify-content: center;
}
.links-container {
  width: 300px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.links-container a {
  display: flex;
  justify-content: center;
}

.rrss:hover polygon,
.rrss:hover path {
  width: 100%;
  height: 100%;
  fill: #ef75ff;
}

/*
* ================================ max-width 1685px ================================
*/

@media screen and (max-width: 1685px) {
  body {
    margin: 0 150px 30px 150px;
  }
  .btn-form {
    margin: 0 150px 0;
  }
}

/*
* ================================ max-width 1587px ================================
*/

@media screen and (max-width: 1587px) {
  html {
    font-size: 80%;
  }
  body {
    margin: 0 200px 30px 200px;
  }
  .menu-items li {
    font-size: 16px;
  }
  .btn-form {
    margin: 0 200px 0;
  }
}

/*
* ================================ max-width 1450px ================================
*/

@media screen and (max-width: 1450px) {
  /* Buttons __________________________________________________________ */

  .btn {
    padding: 20px 60px;
  }
  .btn-contact {
    position: absolute;
    transform: translate(0, -80px);
  }
  /* Text styles __________________________________________________________ */
  h1 {
    font-size: 120px;
  }
  .self-description__title {
    font-size: 37px;
  }
  h5 {
    font-size: 80px;
    text-align: right;
  }
  /* layout self-description __________________________________________________________ */
  .self-description {
    display: block;
    max-width: 100%;
  }
  /* layouts rainbow-slogans __________________________________________________________ */
  .rainbow-slogan {
    display: flex;
    justify-content: flex-end;
    padding-left: 200px;
  }
}

/*
* ================================ max-width 1300px ================================
*/

@media screen and (max-width: 1300px) {
  body {
    margin: 0 150px 30px 150px;
  }
  .btn-form {
    margin: 0 150px 0;
  }
}

/*
* ================================ max-width 1170px ================================
*/

@media screen and (max-width: 1170px) {
  /* Buttons __________________________________________________________ */

  .btn {
    padding: 15px 50px;
    font-size: 20px;
  }
  .btn-contact {
    position: absolute;
    transform: translate(0, -60px);
  }
  /* Text styles __________________________________________________________ */
  h1 {
    font-size: 100px;
  }
  h5 {
    font-size: 60px;
  }
  .header-text__description {
    font-size: 18px;
  }
  .self-description__text {
    font-size: 22px;
  }
  /* Navbar __________________________________________________________ */

  .menu-items {
    display: none;
  }
  /* layout sections __________________________________________________________________ */
  .about-section {
    padding-top: 100px;
  }

  .about-section__items {
    padding-top: 30px;
  }
  /* layouts section services __________________________________________________________ */
  .about-section__services {
    padding: 0 100px;
  }
  .service {
    width: 100%;
    position: static;
    margin-top: 100px;
  }

  .service-image {
    max-height: 400px;
    width: auto;
  }

  .service-image__container {
    display: flex;
    margin: 0;
    justify-content: left;
  }
  .service-image__container--left {
    justify-content: right;
  }
}

/*
* ================================ max-width 1050px ================================
*/

@media screen and (max-width: 1050px) {
  body {
    margin: 0 75px 30px 75px;
  }
  .btn-form {
    margin: 0 75px 0;
  }
  /* rrss links size change __________________________________________________________ */
  .links-container {
    width: 275px;
  }
  /* layouts section services __________________________________________________________ */
  .about-section__services {
    padding: 0 50px;
  }
}

/*
* ================================ max-width 935px ================================
*/

@media screen and (max-width: 935px) {
  /* Text styles __________________________________________________________ */
  h1 {
    font-size: 80px;
    -webkit-text-stroke: 1.5px #ef75ff;
  }
  h1 span {
    -webkit-text-stroke: 1.5px #59fff1;
  }
  .header-text__description {
    font-size: 16px;
  }
  h2 {
    font-size: 37px;
  }
  .self-description__title {
    font-size: 30px;
  }
  h5 {
    font-size: 45px;
    margin: 0;
    -webkit-text-stroke: 3px transparent;
  }
  .service-description__number {
    -webkit-text-stroke: 3px transparent;
  }
  /* layouts section services __________________________________________________________ */
  .about-section__services {
    padding: 0;
  }
}

/*
* ================================ max-width 850px ================================
*/

@media screen and (max-width: 850px) {
  body {
    margin: 0 auto 30px auto;
    padding: 0 30px;
    max-width: 500px;
  }

  /* Text styles __________________________________________________________ */

  h1 {
    font-size: 120px;
  }
  h5 {
    text-align: left;
  }
  .header-text__description {
    font-size: 18px;
  }

  /* Buttons __________________________________________________________ */
  .header-btn {
    margin: 30px 0;
    height: 60px;
  }

  .btn {
    display: block;
    margin: 0;
    padding: 18px 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
  }

  .btn-contact {
    position: static;
    transform: translate(0, 0);
  }

  .btn-form {
    position: static;
    transform: translate(0, 0);
  }

  /* Navbar __________________________________________________________ */

  .about-menu {
    height: 100px;
    margin-bottom: 0;
  }

  /* Header __________________________________________________________ */

  .header-container {
    display: block;
  }

  .header-image {
    margin: 0;
  }

  /* layout sections __________________________________________________________________ */

  .about-section {
    padding-top: 75px;
  }

  .about-section__items {
    padding-top: 50px;
  }

  /* layouts rainbow-slogans __________________________________________________________ */

  .rainbow-slogan {
    display: block;
    padding-left: 0;
  }

  /* layouts section services __________________________________________________________ */

  .about-section__services {
    padding-bottom: 50px;
  }

  .service {
    display: block;
  }

  .service-image {
    max-height: 400px;
  }

  .service-image__container {
    display: flex;
    margin: 0 50px;
    justify-content: center;
  }

  .service-description__container {
    padding-top: 40px;
  }

  /* layouts section 'my approach' & 'how I work'__________________________________________________________ */

  .about-section__items--text {
    display: block;
  }

  .pair-container {
    display: block;
  }

  /* layout contact__________________________________________________________ */

  .contact-grid {
    display: block;
  }
  .about-section__interests {
    margin-bottom: 40px;
  }
  .title__slogan--contact {
    padding-right: 0;
  }
}

/*
* ================================ max-width 590px ================================
*/

@media screen and (max-width: 590px) {
  body {
    margin: 0 auto 30px auto;
    padding: 0 30px;
    max-width: 350px;
  }
  /* layout section images__________________________________________________________ */

  .about-section__items--images {
    display: block;
  }

  .images-container {
    display: block;
  }
}

/*
* ================================ max-width 410px ================================
*/

@media screen and (max-width: 410px) {
  body {
    margin: 0 auto 30px auto;
    padding: 0 30px;
    max-width: 290px;
  }

  h1 {
    font-size: 85px;
  }

  .about-section__services {
    padding-bottom: 0;
  }

  .service {
    margin-top: 50px;
  }

  .about-section__items {
    padding-top: 25px;
  }
}
